* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,
body {
  height: auto;
  width: 100%;
  background-color: #1b1b22;
  color: #ffffff;
}
#page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#aside {
  height: 99vh;
  width: 22vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#aside h4 {
  font-size: 20;
  font-weight: 400;
  margin-left: 20px;
}
#aside_top {
  height: 5vh;
  width: 5vw;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 160px;
}
#dot {
  height: 20px;
  width: 20px;
  background-color: #33ff00;
  border-radius: 50%;
}
#aside_bottom {
  height: 93vh;
  width: 20vw;
  background-color: #323239;
  box-shadow: 0px 0px 10px 6px #505050;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
#aside_bottom_top,
#aside_bottom_bottom {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
#aside_bottom_top a {
  height: 60px;
  width: 95%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #c3c3c3b4;
  padding-left: 40px;
  padding-right: 80px;
  font-size: 17px;
}
#aside_bottom_top p {
  margin-left: 8px;
}
#aside_bottom_top a:hover {
  font-size: 18px;
  color: #ffffff;
}
#aside_bottom_bottom a {
  height: 60px;
  width: 95%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #c3c3c3b4;
  padding-left: 40px;
  padding-right: 80px;
  font-size: 17px;
}
#aside_bottom_bottom a:hover {
  font-size: 18px;
  color: #ffffff;
}
#aside_bottom_bottom i {
  font-size: 22px;
}
#aside_bottom_bottom p {
  margin-left: 8px;
}
/* width */
#aside_bottom::-webkit-scrollbar {
  width: 4px;
}

/* Track */
#aside_bottom::-webkit-scrollbar-track {
  background: #404057;
}

/* Handle */
#aside_bottom::-webkit-scrollbar-thumb {
  background: #1b1b22;
}

/* Handle on hover */
#aside_bottom::-webkit-scrollbar-thumb:hover {
  background: #1b1b22;
}
#main {
  height: 100%;
  width: 79%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
/* width */
#main::-webkit-scrollbar {
  width: 2px;
}

/* Track */
#main::-webkit-scrollbar-track {
  background: #1b1b22;
}

/* Handle */
#main::-webkit-scrollbar-thumb {
  background: #1b1b22;
}

/* Handle on hover */
#main::-webkit-scrollbar-thumb:hover {
  background: #1b1b22;
}

#nav {
  height: 65px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 9;

  justify-content: space-evenly;
  align-items: center;
}
#nav_box_left {
  height: 99%;
  width: 59%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#nav_box_right {
  height: 99%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav_box_right_contect {
  height: 35px;
  width: 100px;
  background-color: #2bcd039b;
  border-radius: 6px;
  margin-left: -300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#nav_box_right_contect p {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

#artical {
  height: 100%;
  width: 100%;
  position: relative;
}
#top {
  height: 50%;
  width: 100%;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#left {
  height: 310px;
  width: 310px;
  border-radius: 50%;
  background: linear-gradient(
    to left bottom,
    #c900bb,
    #ff0000,
    #ff4800,
    #ffc400,
    #ffee00
  );
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#image_dp {
  height: 300px;
  width: 300px;
  border: 5px solid #1b1b22;
  border-radius: 50%;
  background-image: url("media/20231216_172457_0000.png");
  background-size: cover;
  transition: height 0.2s, width 0.2s;
}
#image_dp:hover {
  height: 330px;
  width: 330px;
  border: 2px solid #1b1b22;
}

#right {
  width: 49%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
#card {
  height: 260px;
  width: 460px;
  padding: 50px;
}
#card h1 {
  font-size: 45px;
  font-weight: 600;
  margin-top: 3px;
}
#card h3 {
  font-size: 17.18919265799924px;
  font-weight: 300;
}
#card p {
  font-size: 10.62372846600695px;
  font-weight: 100;
  margin-top: 3px;
}
#card:hover {
  height: 260px;
  width: 460px;
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 155px 6px rgba(0, 34, 255, 0.46);
  -moz-box-shadow: 0px 0px 155px 6px rgba(0, 34, 255, 0.46);
  box-shadow: 0px 0px 155px 6px rgba(0, 34, 255, 0.46);
}
.card {
  width: fit-content;
  height: fit-content;
  background-color: #1b1b22;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: #1b1b22;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#bottom {
  height: 39%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#bottom_txt {
  height: 9%;
  width: 93%;

  display: flex;
  align-items: center;
}
#bottom_txt h2 {
  font-size: 22px;
  font-weight: 100;
}
#bottom-cards1 {
  height: 90%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card1 {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.card1-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card1:hover .card1-inner {
  transform: rotateY(180deg);
}

.card1-front,
.card1-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card1-front {
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #1b1b2200;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}
#card1-front1 {
  height: 100%;
  width: 100%;
  background-image: url("https://storage.stfalcon.com/uploads/images/59f08d9d03f89.webp");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
}
#card1-front2 {
  height: 100%;
  width: 100%;
  background-image: url("https://routenote.com/blog/wp-content/uploads/2022/03/148701539_3724512380920015_7768163355512350905_n.png");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
#card1-front3 {
  height: 100%;
  width: 100%;
  background-image: url("https://github.blog/wp-content/uploads/2022/12/1200x640-1.png?resize=1200%2C640");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.card1-back {
  color: #fff;
  display: flex;
  align-items: center;

  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}
#card1-back3,
#card1-back1,
#card1-back2 {
  height: 100%;
  width: 100%;
  background-image: url("https://storage.stfalcon.com/uploads/images/59f08d9d03f89.webp");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: opacity(0.7);
}
#card1-back1 h3 {
  color: #000000;
}
#card1-back3 {
  background-image: url("https://github.blog/wp-content/uploads/2022/12/1200x640-1.png?resize=1200%2C640");
}
#card1-back2 {
  background-image: url("https://routenote.com/blog/wp-content/uploads/2022/03/148701539_3724512380920015_7768163355512350905_n.png");
}
